<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database_Forms.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=DESKTOP-MTF6P2D\SQLEXPRESS;Initial Catalog=Project;Integrated Security=True; MultipleActiveResultSets=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>